{% extends 'layout.html.twig' %}

{% block content %}
    <!--Panel-->
    <div class="card card-body">
        <h4 class="card-title">Titre</h4>

        <p class="card-text">
            Test
        </p>
        <div class="flex-row">
            <a class="card-link">Card link</a>
            <a class="card-link">Another link</a>
        </div>
    </div>
    <!--/.Panel-->
{% endblock %}
