<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Plateforme collaborative d'observation d'oiseau (projet5)">

    <title>{% block title %}Plateforme collaborative d'observation d'oiseau{% endblock %}</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Imporation des styles et materialize dans twig-->
    {% block stylesheets %}
        <!-- Feuille de style -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}


</head>
<body>
<div id="global">
    <!------------------------ Entête ------------------------>
    <header>
        <a href="{{ path('homepage') }}">
            <h1 class="header center light-blue-text">NAO</h1>
        </a>

    </header>
    <!------------------------ Contenu ------------------------>
    <div class="container" id="contenu">

    </div>
    <!------------------------ Pied de page ------------------------>
    <footer class="page-footer light-blue darken-2">
        <div class="footer-copyright">
            <div class="container">
                <p id="mentions">
                    @ 2017 <a href="{{ path('mentions') }}" class="white-text"> Mentions légales</a>
                </p>
            </div>
        </div>
    </footer>
</div>


{% block javascripts %}
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

{% endblock %}
</body>
</html>
