{% extends 'layout.html.twig' %}

{% block content %}
    <!--Panel-->
    <div class="card card-body">
        <h4 class="card-title">Actualitées</h4>

        <p class="card-text">
           Actualitées
        </p>
    </div>
    <!--/.Panel-->
{% endblock %}
