{% extends 'layout.html.twig' %}

{% block content %}
    <!--Panel-->
    <div class="card card-body">
        <h4 class="card-title">A propos</h4>

        <p class="card-text">
           A propos
        </p>
    </div>
    <!--/.Panel-->
{% endblock %}
