{% extends 'layout.html.twig' %}

{% block content %}
    <!--Panel-->
    <div class="card card-body">
        <h4 class="card-title">A propos de nous</h4>

        <p class="card-text">
            Nao - L’association

    <div>
        <p>Nao existe désormais depuis 14 ans ans, née de la rencontre de deux hommes. Michel Dujardin vis pour ses 2 plus grandes passions : la nature et la photographie. C’est à 22 ans qu’il rencontre Alain Bougrain, NAO devient alors une évidence pour les deux hommes, qui se lancent dans l’aventure en à peine quelques mois, avec un objectif bien précis</p>

        <p>Nao a pour objectif principal l’étude et la protection des oiseaux, c’est dans ce but qu’il y a quelques année, nous avons créé un programme de recherche, subventionné en partie par la LPO, et soutenu par les dons de ses membres. Nous souhaitons étudier l’impact environnemental, comme le climat, l’urbanisation et l’agriculture, sur les différentes espèces d’oiseaux </p>

        <p>Pour être menée au mieux, ce programme a besoin de recueillir un maximum de données d’observations, c’est pour cela que nous avons eu l’idée de permettre à chacun de vous, de participer à ce programme, en soumettant vos propres observations, et ainsi de faire partie, de la communauté NAO, et de participer directement et facilement à la protection des différentes espèces d’oiseaux. Toutes nos données sont également partagés avec différents programmes de recherche nationaux et européens, dans un soucis d’entraide, et pour aider nos confrères dans leurs actions.</p>
    </div>
    <td><img src="{{ asset('images/nao-logo-couleur.png') }}" class="img-fluid previewImg" alt="Responsive image"></td>
    <div>
            Michel Dujardin
            Président

           <p> Michel a grandi dans les vosges, depuis tout petit, il a toujours été très sensible à la nature.
            Lorsqu’il a découvert la photographie très jeune et a su allier ses 2 passions, et à commencer à exposer ses séries de photos d’oiseaux pour essayer de sensibiliser le grand public à la beauté et à la fragilité de la nature. De nature déterminé, il n’a jamais abandonné, même s’il se rendait bien compte que ses actions n’avait pas l’impact qu’il attendait. Il ne lâche rien, et c’est très vite, lors de l’une de ses expositions qu’il fera la rencontre qui changera l’avenir de NAO, et donnera un sens à toutes ses actions.
    </div>
    <div>
            Pourquoi avons-nous besoin de vous
            Notre programme de recherche nécessite de recueillir un maximum d’informations, sur les différentes espèces d’oiseaux vivant dans différents cadres. C’est pour cela que nous avons besoin d’effectuer ces observations, dans les différentes régions de France, dans différents cadres, urbains ou ruraux. Seuls, cela nous demandera des années avant d’avoir suffisamment de données à analyser pour obtenir des résultats probants, mais avec votre aide, nous pourrons rapidement alerter sur certains danger pour les oiseaux, et mettre en place des actions juridiques ou de sensibilisations, et ainsi préserver, ensemble, la nature qui nous entoure.
    </div>

    <div>
            Facebook

            Vous n’êtes pas seuls! Notre communauté est composé d’observateurs passionnés dans toute la France, mais aussi de professionnels. En vous inscrivant, vous pourrez nous rejoindre sur notre Groupe NAO sur Facebook. Vous aurez alors un véritable accompagnement, nous vous aiderons dans vos identifications, les naturalistes se feront un plaisir de répondre à vos questions. C’est aussi un moyen de rencontrer des passionnés près de chez vous!
            Vous y retrouverez aussi des jeu-concours, les résultats de l’analyse des données récoltés, entre une multitude d’autres informations!
        <a href="https://www.facebook.com/groups/143719076291913/" target="_blank"><button type="button" class="btn btn-fb"><i class="fa fa-facebook left"></i>REJOINDRE LA COMMUNAUTÉ FACEBOOK</button></a>

    </div>
    <!--/.Panel-->
{% endblock %}
