{% extends 'layout.html.twig' %}

{% block content %}
    <!--Panel-->
    <div class="card card-body">
        <h4 class="card-title">A propos</h4>


        <!--Section: Contact v.2-->
        <section class="section">

            <!--Section heading-->
            <h2 class="section-heading h1 pt-4">NOUS ÉCRIRE</h2>
            <!--Section description-->
            <p class="section-description">Sur notre page <a href="{{ path('faq') }}">FAQ </a>, nous avons peut-être déjà répondu à votre question</p>

            <div class="row">

                <!--Grid column-->
                <div class="col-md-4 col-xl-3">
                    <ul class="contact-icons">
                        <li><i class="fa fa-phone fa-2x"></i>
                            <p>NAO</p>
                            <p>Téléphone</p>
                            <p>04.78.03.89.54</p>
                        </li>

                        <li><i class="fa fa-map-marker fa-2x"></i>
                            <p>Adresse</p>
                            <p>30 quai Jeanne D'Arc</p>
                            <p>80230 Saint Valéry sur somme</p>
                        </li>


                        <li><i class="fa fa-envelope fa-2x"></i>
                            <p>Réseaux sociaux</p>
                            <a href="https://www.facebook.com/groups/143719076291913/">Facebook</a>
                            <a href="https://www.instagram.com/nao_nosamislesoiseaux/">Instagram</a>

                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-8 col-xl-9">
                    <form id ="contact-form" name="contact-form" action="mail.php" method="POST">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form">
                                    <div class="md-form">
                                        <input type="text" id="name" name="name" class="form-control">
                                        <label for="name" class="">NOM*</label>
                                    </div>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form">
                                    <div class="md-form">
                                        <input type="text" id="email" name="email" class="form-control">
                                        <label for="email" class="">EMAIL*</label>
                                    </div>
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form">
                                    <input type="text" id="subject" name="subject" class="form-control">
                                    <label for="subject" class="">OBJET*</label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" class="md-textarea"></textarea>
                                    <label for="message">MESSAGE*</label>
                                </div>

                                <p>Les champs marqués d'un asterique(*) sont obligatoires</p>
                            </div>
                        </div>
                        <!--Grid row-->

                    </form>

                    <div class="center-on-small-only">
                        <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">ENVOYER</a>
                    </div>
                    <div class="status" id="status"></div>
                </div>
                <!--Grid column-->



            </div>

        </section>
        <!--Section: Contact v.2-->

    </div>
    <!--/.Panel-->
{% endblock %}
