{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="d-flex flex-row">
            <div class="col-3 ariane row align-items-center justify-content-around">
                <div class="gras"><a href="{{ path('homepage') }}">Accueil</a></div>
                <i class="fa fa-angle-right white-text" aria-hidden="true"></i>
                <div class="light text-uppercase">mentions légales</div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="text-uppercase h1 text-center mb-5 title">mentions légales</h1>
        <hr class="actualite-hr">
        <div>
            <h3>
                Article 1 - L’éditeur
            </h3>
            <p>
                Le site www.nosamislesoiseaux.fr appartient à l’association loi 1901, “Nos amis les oiseaux” aussi appelée
                “NAO”, dont le siège social est situé au 30, Quai Jeanne d’arc, 80230 Saint Valéry sur Somme.
                Téléphone : 03.52.63.52.52
                Le président, M. MICHEL Dujardin est le responsable de la publication et de la rédaction.
                L’association peut être contactée par l’intermédiaire du formulaire de la page contact du site.
            </p>
            <hr class="mentions-hr">
        </div>
        <div>
            <h3>
                Article 2 - L’hébergement
            </h3>
            <p>
                Ce site est hébergé chez OVH
                SAS au capital de 10 059 500 €
                RCS Lille Métropole 424 761 419 00045
                Code APE 6202A
                N° TVA : FR 22 424 7 61 419
                Siège social : 2 rue Kellermann - 59100 Roubaix - France.
                Téléphone : +33 9 72 10 10 07
            </p>
            <hr class="mentions-hr">
        </div>
        <div>
            <h3>
                Article 3 - Récupération et utilisation des données.
            </h3>
            <p>
                Le Site www.nosamislesoiseaux.fr a fait l'objet d'une déclaration auprès de la Commission Nationale
                Informatique et Libertés (CNIL) en application de la loi n°78-17 du 6 janvier 1978 relative à
                l'informatique, aux fichiers et aux libertés. Chaque internaute ayant déposé des informations nominatives le
                concernant sur le Site dispose des droits d'opposition (article 38 de la loi), d'accès (articles 39, 41 et
                42 de la loi) et de rectification (article 40 de la loi) de ces données.
                Ainsi, il peut exiger que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les
                informations le concernant qui sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte ou
                l'utilisation, la communication ou la conservation est interdite. Chaque internaute peut exercer ces droits
                en écrivant à NOS AMIS LES OISEAUX - 30 Quai Jeanne d’Arc - 80230 Saint Valéry sur Somme - FRANCE.

                Ces données seront la propriété de Nos amis les oiseaux, en aucun cas elles ne seront cédées, ou vendues à
                un tiers
            </p>
            <hr class="mentions-hr">
        </div>
        <div>
            <h3>
                Article 4 - Propriété intellectuelle
            </h3>
            <p>
                Nos amis les oiseaux et/ou ses partenaires sont les titulaires exclusifs de tous les droits de propriété
                intellectuelle portant tant sur la structure que sur le contenu du site www.nosamislesoiseaux.fr et ce dans
                le monde entier.
                Nos amis les oiseaux consent à l'utilisateur le droit de reproduire et d'utiliser tout ou partie du contenu
                du Site sans le modifier. Le nom Nos amis les oiseaux ou www.nosamislesoiseaux.fr devra être cité comme
                source.
                Il n'est pas possible de reproduire et/ou d'utiliser les marques et logos relatifs à Nos amis les oiseaux et
                au Site www.nosamislesoiseaux.fr sans autorisation préalable du président de l’association Nos Amis les
                oiseaux, M. Dujardin.
                Les photos publiées par les utilisateurs sont la propriété intellectuelle de l’utilisateur qui l’a publié.
                Il autorise Nos amis les oiseaux à les afficher sur le site www.nosamislesoiseaux.fr et à les utiliser sur
                les réseaux sociaux de l’association.
                La violation de ces dispositions impératives soumet le contrevenant, et toutes personnes responsables, aux
                peines pénales et civiles prévues par la loi.
            </p>
            <hr class="mentions-hr">
        </div>
        <div>
            <h3>
                Article 5 - Limites de responsabilité
            </h3>
            <p>
                Alors que nous avons effectué toutes les démarches pour nous assurer de la fiabilité des informations
                contenues sur ce site internet, l'association Nos amis les oiseaux ne peut encourir aucune responsabilité du
                fait d'erreurs, d'omissions, ou pour les résultats qui pourraient être obtenus par l'usage de ces
                informations.
            </p>
            <hr class="mentions-hr">
        </div>
        <div>
            <h3>
                Article 6 - Accessibilité
            </h3>
            <p>
                Le Site est accessible aux utilisateurs 24/24h et 7/7j, sauf interruption, programmée ou non, pour des
                besoins de maintenance ou en cas de force majeure.
                En cas d'impossibilité d'accès au site, celui-ci s'engage à faire son maximum afin d'en rétablir l'accès. Le
                site ne saurait être tenu pour responsable de tout dommage, quelle qu'en soit la nature, résultant de son
                indisponibilité.
            </p>
            <hr class="mentions-hr">
        </div>
        <div>
            <h3>
                Article 7 - Utilisations de cookies
            </h3>
            <div>
                <p>
                    <strong>Qu’est-ce qu’un cookie et à quoi sert-il ?</strong>
                </p>
                <p>
                    Un cookie (ou témoin de connexion) est un fichier texte susceptible d’être enregistré, sous réserve de
                    vos choix, dans un espace dédié du disque dur de votre terminal (ordinateur, tablette …) à l’occasion de
                    la consultation d’un service en ligne grâce à votre logiciel de navigation.
                    Il est transmis par le serveur d’un site internet à votre navigateur. A chaque cookie est attribué un
                    identifiant anonyme. Le fichier cookie permet à son émetteur d’identifier le terminal dans lequel il est
                    enregistré pendant la durée de validité ou d’enregistrement du cookie concerné. Un cookie ne permet pas
                    de remonter à une personne physique.
                </p>
                <p>
                    <strong>Quels types de cookies sont déposés par le site Web ?</strong>
                </p>
                <p>
                    * Cookies de Statistiques Google Analytics
                </p>
                <p>
                    Ces cookies permettent d’établir des statistiques de fréquentation du site nosamislesoiseaux.fr et de
                    détecter des problèmes de navigation afin de suivre et d’améliorer la qualité de nos services.
                </p>Exercez vos choix selon le navigateur que vous utilisez
                <p>
                    Vous pouvez à tout moment paramétrer votre navigateur afin d’exprimer et de modifier vos souhaits en
                    matière de cookies et notamment concernant les cookies de statistique. Vous pouvez exprimer vos choix en
                    paramétrant votre navigateur de façon à refuser certains cookies.
                </p>
                <p>
                    Si vous refusez nos cookies et ceux de nos partenaires, votre visite du site nosamislesoiseaux.fr ne
                    sera plus comptabilisée dans Google Analytics et vous ne pourrez plus bénéficier d’un certain nombre de
                    fonctionnalités qui sont néanmoins nécessaires pour naviguer dans certaines de nos pages.
                    Nous vous informons que vous pouvez toutefois vous opposer à l’enregistrement de cookies en suivant le
                    mode opératoire disponible ci-dessous :
                </p>
                <p>Sur Internet Explorer
                </p>
                <ul class="list-number">
                    <li>Allez dans Outils > Options Internet.
                    </li>
                    <li>Cliquez sur l’onglet confidentialité.
                    </li>
                    <li> Cliquez sur le bouton avancé, cochez la case » Ignorer la gestion automatique des cookies ».</li>
                </ul>
                <p>Sur Firefox
                </p>
                <ul class="list-number">
                    <li>
                        En haut de la fenêtre de Firefox, cliquez sur le bouton Firefox (menu Outils sous Windows XP), puis
                        sélectionnez Options.
                    </li>
                    <li>Sélectionnez le panneau Vie privée.</li>
                    <li>Paramétrez Règles de conservation : à utiliser les paramètres personnalisés pour l’historique.</li>
                    <li>Décochez Accepter les cookies.</li>
                </ul>
                <p>Sur Chrome
                </p>
                <ul class="list-number">
                    <li>Cliquez sur l’icône représentant une clé à molette qui est située dans la barre d’outils du
                        navigateur.
                    </li>
                    <li>Sélectionnez Paramètres.</li>
                    <li>Cliquez sur Afficher les paramètres avancés.</li>
                    <li>Dans la section « Confidentialité », cliquez sur le bouton Paramètres de contenu.</li>
                    <li>Dans la section « Cookies », vous pouvez bloquer les cookies et données de sites tiers</li>
                </ul>
                <p>Sur Safari
                </p>
                <ul class="list-number">
                    <li>Allez dans Réglages > Préférences</li>
                    <li>Cliquez sur l’onglet Confidentialité</li>
                    <li>Dans la zone » Bloquer les cookies « , cochez la case « toujours »</li>
                </ul>
                <p>Sur Opéra
                </p>
                <ul class="list-number">
                    <li>Allez dans Réglages > Préférences</li>
                    <li>Cliquez sur l’onglet avancées</li>
                    <li>Dans la zone » Cookies « , cochez la case » Ne jamais accepter les cookies »</li>
                </ul>
                <p>
                    * Les cookies de partage des réseaux sociaux
                </p>
                <p>
                    Sur certaines pages de nosamislesoiseaux.fr figurent des boutons ou modules de réseaux sociaux tiers qui
                    vous permettent d’exploiter les fonctionnalités de ces réseaux et en particulier de partager des contenus
                    présents sur nosamislesoiseaux.fr avec d’autres personnes.
                    Lorsque vous vous rendez sur une page internet sur laquelle se trouve un de ces boutons ou modules, votre
                    navigateur peut envoyer des informations au réseau social qui peut alors associer cette visualisation à
                    votre profil.
                </p>
                <p>
                    Des cookies des réseaux sociaux, dont nous n’avons pas la maîtrise, peuvent être alors être déposés dans
                    votre navigateur par ces réseaux. Nous vous invitons à consulter les politiques de confidentialité propres à
                    chacun de ces sites de réseaux sociaux, afin de prendre connaissance des finalités d’utilisation des
                    informations de navigation que peuvent recueillir les réseaux sociaux grâce à ces boutons et modules.
                </p>

                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Mailchimp</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

